@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white-color: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-gray);
    font-size: 15px;
    color: var(--white-color);
    line-height: 1.5em;
    font-family: Lexend Deca;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.main{
    width: 70vw;
    height: auto;
    margin: 100px auto 70px auto;
    display: flex;
    flex-direction: row;
}
.card-1, .card-2, .card-3{
    padding: 50px 50px 0 45px;
    display: grid;
}
.card-1{
    background-color: var(--bright-orange);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.card-2{
    background-color: var(--dark-cyan);
}
.card-3{
    background-color: var(--very-dark-cyan);
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}
h1{
    margin: 35px 0;
    color: var(--light-gray);
    text-transform: uppercase;
    font-family: Big Shoulder Display;
}
.card-1 > a, .card-2 > a, .card-3 > a{
    margin: 90px 0 50px 0;
    text-decoration: none;
    background-color: var(--light-gray);
    display: block;
    width: 140px;
    height: 40px;
    text-align: center;
    padding: 8px 0;
    border-radius: 20px;
    border: 1px solid var(--light-gray);
}
.card-1 > a{
    color: var(--bright-orange);
}
.card-1 > a:hover{
    color: var(--light-gray);
    background-color: var(--bright-orange);
}
.card-2 > a{
    color: var(--dark-cyan);
}
.card-2 > a:hover{
    color: var(--light-gray);
    background-color: var(--dark-cyan);
}
.card-3 > a{
    color: var(--very-dark-cyan);
}
.card-3 > a:hover{
    color: var(--light-gray);
    background-color: var(--very-dark-cyan);
}
.attribution { font-size: 11px; text-align: center; color: var(--very-dark-cyan);}
    .attribution a { color: hsl(228, 45%, 44%); }
@media all and (max-width: 375px) {
    .main{
        width: 90%;
        height: auto;
        margin: 100px auto 70px auto;
        display: flex;
        flex-direction: column;
    }
    .card-1{
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-bottom-left-radius: 0;
    }
    .card-3{
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        border-top-right-radius: 0;
    }
}